html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-navigation {
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.site-navigation {
  width: 406px;
  margin-right: 319px;

  list-style: none;
}

.user-navigation a {
  color: #ffffff;
}

.site-navigation a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  font-weight: 700;
  color: #333333;
  text-decoration: none;

  background-color: #f8f7f4;
}

.on-catalog {
  background-color: #d07058;
}

.site-navigation .noveltys {
  font-weight: 700;
}

.inner-site-navigation {
  position: absolute;

  list-style: none;
}

.inner-site-navigation a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  text-decoration: none;
}

.inner-site-navigation .active-link {
  color: #ffffff;

  background-color: #d07058;
}

.inner-site-navigation a:hover {
  background-color: #fbded7;
}

.inner-site-navigation a:active {
  background-color: #f6b5a5;
}

.user-navigation {
  width: 267px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  list-style: none;
}

.user-navigation .search-form,
.user-navigation .login-form {
  position: absolute;

  background-color: #f8f7f4;
}

.form-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
}

.email-form .form-input,
.feedback-form .form-input {
  font-size: 16px;
  line-height: 24px;
}

.form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input::placeholder {
  font-weight: 400;
  color: #999999;
}

.login-form a {
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form a:hover,
.login-form a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(277, 77, 55, 0.3);
}

.form-input:hover {
  border-color: rgba(154, 154, 154, 0.5);
}

.form-input:focus {
  border-color: #c7c6c5;
}

.login-form a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header-contacts a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.container {
    margin: 0 auto;
    padding: 0 27px;
    width: 1200px;
    position: relative;
}

.promo-slider h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
}

.first-slide {
  background-image: url("../img/icecream-main-1.png");
  background-repeat: no-repeat;
}

.second-slide {
  background-image: url("../img/icecream-main-2.png");
  background-repeat: no-repeat;
}

.third-slide {
  background-image: url("../img/icecream-main-3.png");
  background-repeat: no-repeat;
}

.actions-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
}

.actions-item {
  width: 560px;
}

.actions-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.actions-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.actions-list {
  list-style: none;
}

.actions-list .actions-strawberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-color: #aa0f30;
}

.actions-list .actions-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-color: #4f3226;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 267px;
}

.catalog-list p {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-list a {
  color: #ffffff;
}

.catalog-list .weigth {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.catalog-name:hover,
.catalog-name:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.rubl {
  font-size: 0;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0 0;
}

.features li {
  width: 560px;
}

.features {
  height: 306px;
  margin-bottom: 40px;

  color: #323232;
  background-image: url("../img/waffle-pattern.jpg");
  background-position: 0 0;
  background-color: #e9dcbf;
}

.features h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.wrapper-middle {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 560px;

  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.blog h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  border-bottom: 1px solid #323232;
}

.blog a:hover,
.blog a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(277, 77, 55, 0.3);
}

.distribution {
  width: 560px;

  font-weight: 700;
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.contacts {
  width: 100%;
  min-height: 430px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #ede6cd;
}

.adress {
  position: absolute;
  width: 300px;

  background-color: #ffffff;
}

.contacts b,
.contacts .tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.wrapper-footer {
  margin-top: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu {
  width: 560px;

  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.footer-social {
  width: 267px;

  font-size: 0;
}

.footer-social .social-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.footer-social .social-Instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.footer-social .social-facebook {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.footer-social .social-vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.footer-menu ul {
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-menu li {
  width: 267px;
}

.footer-menu a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu .footer-menu-item {
  font-weight: 700;
}

.footer-menu a:hover,
.footer-menu a:active,
.footer-copyright .footer-link:hover,
.footer-copyright .footer-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}


.footer-copyright {
  width: 267px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright .footer-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-feedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #f8f7f4;
}

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-card {
  position: absolute;
  width: 540px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.price {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #999999;
}

.modal-card-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.breadcrumbs {
}

.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-current {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  color: #ffbc9e;
}

.filters {
  margin-bottom: 35px;
  width: 863px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filter-sort-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(248, 247, 244, 0.2);
}

.filter-sort-form:focus {
  color: #323232;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:focus,
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.filter-form .catalog-submit-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border:2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.filter-form .catalog-submit-button:focus,
.filter-form .catalog-submit-button:hover {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.filter-form .catalog-submit-button:active {
  color: #323232;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.pagination-list {
  text-align: right;
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.pagination-item {
  display: inline-block;
}

.pagination-item a:hover {
  color: #ffffff;
  background-color: #89a193;
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}
