html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/* main navigation */

.main-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.breadcrumbs {
  list-style: none;
}

.user-navigation a{
  color: #ffffff;
}

.site-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;

  list-style: none;
}

.site-navigation a {
  color: #ffffff;
  text-decoration: underline;
}

.site-navigation a:hover {
  color: #323232;
  text-decoration: none;

  background-color: #ffffff;
}

.site-navigation a:active {
  font-weight: 700;
  color: #333333;
  text-decoration: none;

  background-color: #ffffff;
}

/*
.site-navigation a: {
  color: #333333;
  text-decoration: none;

  background-color: #ffffff;
}
*/

.site-navigation .noveltys {
  font-weight: 700;
}

.inner-site-navigation {
  list-style: none;
}

.inner-site-navigation a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  text-decoration: none;
}

.inner-site-navigation a:hover {
  background-color: #fbded7;
}

.inner-site-navigation a:active {
  background-color: #f6b5a5;
}


.user-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;

  list-style: none;
}

.user-navigation .search-form,
.user-navigation .login-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #f8f7f4;
}

.search-form .search-input,
.login-form .login-input {

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

.login-form a {
  text-decoration: underline;
}

.login-form a:hover,
.login-form a:active {
  color: #ffbc9e;
}


.search-form input:hover,
.login-form input:hover,
.email-form input:hover,
.feedback-form input:hover {
  border-color: #c7c6c5;
}

.login-form a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  background-color: #f8f7f4;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #e84e37;
  border: none;
}

/*
.button:hover {

}
*/

.header-contacts p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.header-contacts a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;

  background-color: #849d8f;
}

/* promo slider */
.first-slide {
  background-image: url(../img/icecream-main-1.png);
}

.first-slide h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;

  background-color: #849d8f;
}

.second-slide {
  background-image: url(../img/icecream-main-2.png);
}

.second-slide h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;

  background-color: #849d8f;
}

.third-slide {
  background-image: url(../img/icecream-main-3.png);
}

.third-slide h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;

  background-color: #849d8f;
}


/* actions */
.actions-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;

  background-color: #849d8f;
}

.actions-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

.actions-list {
  list-style: none;
}

.actions-list .actions-strawberry {
  background-image: url(../img/raspberry-bg.jpg);
}

.actions-list .actions-chocolate {
  background-image: url(../img/chocolate-bg.jpg);
}
/* catalog */

.catalog-list {
  list-style: none;
}

.catalog-list p {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog-list a {
  color: #ffffff;
}

/*
.catalog-item:hover {
  width: 300px;
  height: 400px;

  background-color: #9bafa3;
  box-shadow: 0 0 10px black;
}
*/

.catalog-list a:first-child:hover,
.catalog-list a:first-child:active  {
  color: #ffbc9e;
}


.catalog-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;

  background-color: #849d8f;
}

.rubl {
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
}
/* features */
.features ul {
  list-style: none;
}

.features {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-image: url(../img/waffle-pattern.jpg);
  background-color: #ffffff;
}

.features h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: #ffffff;
}


/* blog */
.blog {
  background-image: url(../img/strawberry-bg.jpg);
  background-color: #ffffff;
}

.blog h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ffffff;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;

  background-color: #ffffff;
}

.blog a:hover,
.blog a:active{
  color: #e84d37;
}

/* distribution */
.distribution {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.distribution p{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.distribution-login-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
}
/* contacts */
.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fffffe;
}

.contacts b,
.contacts .tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;

  background-color: #fffffe;
}
/* footer-social */
.footer-social,
.foote-menu,
.footer-copyright {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #ffffff;
}

.footer-social .social-twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.footer-social .social-Instagram {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.footer-social .social-facebook {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.footer-social .social-vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

/* footer-menu */
.footer-menu ul {
  list-style: none;
}


.footer-menu a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;

  background-color: #849d8f;
}

.footer-menu a:hover,
.footer-menu a:active,
.footer-button:hover,
.footer-button:active {
  color: #ffbc9e;
}

/* footer-copyright */
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: underline;
}
/* modal */
.modal-feedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #f8f7f4;
}

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;

  background-color: #f8f7f4;
}

.feedback-form .feedback-form-name,
.feedback-form .feedback-form-mail,
.feedback-form .feedback-form-message {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

/* modal cart */
.modal-card {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.price {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #999999;

  background-color: #f8f7f4;
}

.modal-cart-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;

  background-color: #f8f7f4;
}

/* page-title */
.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;

  background-color: #849d8f;
}

/* breadcrumbs */
.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;

  background-color: #849d8f;
}

.breadcrumbs-current {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: #849d8f;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

/* filters */
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.filters legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.filter-sort-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #aabab0;
}

.filter-sort-form:focus {
  color: #323232;
}

.filter-form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #aabab0;
  border: none;
}

.filter-form button:focus {
  color: #323232;

  background-color: #fbfcfb;
}

.filter-form button:active {
  color: #323232;

  background-color: #eaeaea;
}
/* pagination list */
.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.pagination-item a:hover {
  color: #ffffff;

  background-color: #89a193;
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}
/* */
/* */
